PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/medigo
CLIENT_URL=http://localhost:5173

JWT_SECRET=medigo_jwt_secret_change_me_9b1a0b91e5a44f14b44a2e3b7c2a23b3
JWT_REFRESH_SECRET=medigo_jwt_refresh_secret_change_me_4f7f3fd00d8a4cb4a318e0f3f5d7e9c1
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES=7d

SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASS


CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
